.chart-panel{
  background-color: #efefef;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.chart-container{
  width: 80vw;
  max-width: 1200px;

}

.chart-container > h2 {
  margin-left: -50px;
}