footer{
  width: 100%;
  background-color: #141414!important;
  color: #545454!important;
  height: 500px;

}

footer > .container{
  margin-top: 80px;
}

a:link{
  color: rgb(160, 160, 160);
}

a:hover{
  text-decoration: underline;
}

a:visited{
  color: rgb(99, 99, 99)
}