.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky{
  background-color: rgba(228, 228, 228, 0.9);
  visibility: visible;
}

nav{
  background-color: #333!important;
  padding-left: 10px;
}

.sticky + section {
  padding-top: 80px;
}

.nav-container{
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .brand-logo {
    text-align: center;
    width: 100%;
  }
}